[Desktop Entry]
X-MultipleArgs=false
Type=Application
Name=FBZX
GenericName=A Sinclair ZX Spectrum emulator
Comment=Play the old, great games of the venerable ZX Spectrum
TryExec=fbzx
Exec=fbzx
Keywords=emulator,sinclair,spectrum
Categories=Game
Icon=fbzx
